<h6 class="section-title eui-u-mt-m">Flat styled buttons</h6>
<p>Using the <code>euiBasicButton</code> input option</p>

<div #test class="eui-u-flex eui-u-flex-wrap eui-u-mt-m">
  <button euiButton class="eui-u-mr-s eui-u-mb-s" [euiBasicButton]="true">
    Default
  </button>
  <button
    euiButton
    class="eui-u-mr-s eui-u-mb-s"
    [euiBasicButton]="true"
    [euiPrimary]="true"
  >
    Primary
  </button>
  <button
    euiButton
    class="eui-u-mr-s eui-u-mb-s"
    [euiBasicButton]="true"
    [euiSecondary]="true"
  >
    Secondary
  </button>
  <button
    euiButton
    class="eui-u-mr-s eui-u-mb-s"
    [euiBasicButton]="true"
    [euiInfo]="true"
  >
    Info
  </button>
  <button
    euiButton
    class="eui-u-mr-s eui-u-mb-s"
    [euiBasicButton]="true"
    [euiSuccess]="true"
  >
    Success
  </button>
  <button
    euiButton
    class="eui-u-mr-s eui-u-mb-s"
    [euiBasicButton]="true"
    [euiWarning]="true"
  >
    Warning
  </button>
  <button
    euiButton
    class="eui-u-mr-s eui-u-mb-s"
    [euiBasicButton]="true"
    [euiDanger]="true"
  >
    Danger
  </button>
  <button
    euiButton
    class="eui-u-mr-s eui-u-mb-s"
    [euiBasicButton]="true"
    [euiAccent]="true"
  >
    Accent
  </button>
</div>

<h6 class="section-title eui-u-mt-m">Outlined styled buttons</h6>
<p>Using the <code>euiOutline</code> input option</p>

<div class="eui-u-flex eui-u-flex-wrap eui-u-mt-m">
  <button euiButton [euiOutline]="true" class="eui-u-mr-s eui-u-mb-s">
    Default
  </button>
  <button
    euiButton
    [euiOutline]="true"
    class="eui-u-mr-s eui-u-mb-s"
    [euiPrimary]="true"
  >
    Primary
  </button>
  <button
    euiButton
    [euiOutline]="true"
    class="eui-u-mr-s eui-u-mb-s"
    [euiSecondary]="true"
  >
    Secondary
  </button>
  <button
    euiButton
    [euiOutline]="true"
    class="eui-u-mr-s eui-u-mb-s"
    [euiInfo]="true"
  >
    Info
  </button>
  <button
    euiButton
    [euiOutline]="true"
    class="eui-u-mr-s eui-u-mb-s"
    [euiSuccess]="true"
  >
    Success
  </button>
  <button
    euiButton
    [euiOutline]="true"
    class="eui-u-mr-s eui-u-mb-s"
    [euiWarning]="true"
  >
    Warning
  </button>
  <button
    euiButton
    [euiOutline]="true"
    class="eui-u-mr-s eui-u-mb-s"
    [euiDanger]="true"
  >
    Danger
  </button>
  <button
    euiButton
    [euiOutline]="true"
    class="eui-u-mr-s eui-u-mb-s"
    [euiAccent]="true"
  >
    Accent
  </button>
</div>

<h6 class="section-title eui-u-mt-m">DEFAULT</h6>
<p>Using the <code>euiRounded euiIconButton</code> input options</p>
<div class="eui-u-flex eui-u-flex-wrap eui-u-mt-m">
  <button
    euiButton
    [euiRounded]="true"
    [euiIconButton]="true"
    class="eui-u-mr-s eui-u-mb-s"
  >
    <span
      euiIcon
      iconClass="eui-icon eui-icon-bell"
      aria-label="Bell Icon"
    ></span>
  </button>
  <button
    euiButton
    [euiRounded]="true"
    [euiIconButton]="true"
    class="eui-u-mr-s eui-u-mb-s"
    [euiPrimary]="true"
  >
    <span
      euiIcon
      iconClass="eui-icon eui-icon-bell"
      aria-label="Bell Icon"
    ></span>
  </button>
  <button
    euiButton
    [euiRounded]="true"
    [euiIconButton]="true"
    class="eui-u-mr-s eui-u-mb-s"
    [euiSecondary]="true"
  >
    <span
      euiIcon
      iconClass="eui-icon eui-icon-bell"
      aria-label="Bell Icon"
    ></span>
  </button>
  <button
    euiButton
    [euiRounded]="true"
    [euiIconButton]="true"
    class="eui-u-mr-s eui-u-mb-s"
    [euiInfo]="true"
  >
    <span
      euiIcon
      iconClass="eui-icon eui-icon-bell"
      aria-label="Bell Icon"
    ></span>
  </button>
  <button
    euiButton
    [euiRounded]="true"
    [euiIconButton]="true"
    class="eui-u-mr-s eui-u-mb-s"
    [euiSuccess]="true"
  >
    <span
      euiIcon
      iconClass="eui-icon eui-icon-bell"
      aria-label="Bell Icon"
    ></span>
  </button>
  <button
    euiButton
    [euiRounded]="true"
    [euiIconButton]="true"
    class="eui-u-mr-s eui-u-mb-s"
    [euiWarning]="true"
  >
    <span
      euiIcon
      iconClass="eui-icon eui-icon-bell"
      aria-label="Bell Icon"
    ></span>
  </button>
  <button
    euiButton
    [euiRounded]="true"
    [euiIconButton]="true"
    class="eui-u-mr-s eui-u-mb-s"
    [euiDanger]="true"
  >
    <span
      euiIcon
      iconClass="eui-icon eui-icon-bell"
      aria-label="Bell Icon"
    ></span>
  </button>
  <button
    euiButton
    [euiRounded]="true"
    [euiIconButton]="true"
    class="eui-u-mr-s eui-u-mb-s"
    [euiAccent]="true"
  >
    <span
      euiIcon
      iconClass="eui-icon eui-icon-bell"
      aria-label="Bell Icon"
    ></span>
  </button>
</div>

<h6 class="section-title eui-u-mt-m">BASIC</h6>
<p>
  Using the <code>euiRounded euiIconButton euiBasicButton</code> input options
</p>
<div class="eui-u-flex eui-u-flex-wrap eui-u-mt-m">
  <button
    euiButton
    [euiRounded]="true"
    [euiIconButton]="true"
    [euiBasicButton]="true"
    class="eui-u-mr-s eui-u-mb-s"
  >
    <span
      euiIcon
      iconClass="eui-icon eui-icon-bell"
      aria-label="Bell Icon"
    ></span>
  </button>
  <button
    euiButton
    [euiRounded]="true"
    [euiIconButton]="true"
    [euiBasicButton]="true"
    class="eui-u-mr-s eui-u-mb-s"
    [euiPrimary]="true"
  >
    <span
      euiIcon
      iconClass="eui-icon eui-icon-bell"
      aria-label="Bell Icon"
    ></span>
  </button>
  <button
    euiButton
    [euiRounded]="true"
    [euiIconButton]="true"
    [euiBasicButton]="true"
    class="eui-u-mr-s eui-u-mb-s"
    [euiSecondary]="true"
  >
    <span
      euiIcon
      iconClass="eui-icon eui-icon-bell"
      aria-label="Bell Icon"
    ></span>
  </button>
  <button
    euiButton
    [euiRounded]="true"
    [euiIconButton]="true"
    [euiBasicButton]="true"
    class="eui-u-mr-s eui-u-mb-s"
    [euiInfo]="true"
  >
    <span
      euiIcon
      iconClass="eui-icon eui-icon-bell"
      aria-label="Bell Icon"
    ></span>
  </button>
  <button
    euiButton
    [euiRounded]="true"
    [euiIconButton]="true"
    [euiBasicButton]="true"
    class="eui-u-mr-s eui-u-mb-s"
    [euiSuccess]="true"
  >
    <span
      euiIcon
      iconClass="eui-icon eui-icon-bell"
      aria-label="Bell Icon"
    ></span>
  </button>
  <button
    euiButton
    [euiRounded]="true"
    [euiIconButton]="true"
    [euiBasicButton]="true"
    class="eui-u-mr-s eui-u-mb-s"
    [euiWarning]="true"
  >
    <span
      euiIcon
      iconClass="eui-icon eui-icon-bell"
      aria-label="Bell Icon"
    ></span>
  </button>
  <button
    euiButton
    [euiRounded]="true"
    [euiIconButton]="true"
    [euiBasicButton]="true"
    class="eui-u-mr-s eui-u-mb-s"
    [euiDanger]="true"
  >
    <span
      euiIcon
      iconClass="eui-icon eui-icon-bell"
      aria-label="Bell Icon"
    ></span>
  </button>
  <button
    euiButton
    [euiRounded]="true"
    [euiIconButton]="true"
    [euiBasicButton]="true"
    class="eui-u-mr-s eui-u-mb-s"
    [euiAccent]="true"
  >
    <span
      euiIcon
      iconClass="eui-icon eui-icon-bell"
      aria-label="Bell Icon"
    ></span>
  </button>
</div>

<h6 class="section-title eui-u-mt-m">OUTLINE</h6>
<p>Using the <code>euiRounded euiIconButton euiOutline</code> input options</p>
<div class="eui-u-flex eui-u-flex-wrap eui-u-mt-m">
  <button
    euiButton
    [euiRounded]="true"
    [euiIconButton]="true"
    [euiOutline]="true"
    class="eui-u-mr-s eui-u-mb-s"
  >
    <span
      euiIcon
      iconClass="eui-icon eui-icon-bell"
      aria-label="Bell Icon"
    ></span>
  </button>
  <button
    euiButton
    [euiRounded]="true"
    [euiIconButton]="true"
    [euiOutline]="true"
    class="eui-u-mr-s eui-u-mb-s"
    [euiPrimary]="true"
  >
    <span
      euiIcon
      iconClass="eui-icon eui-icon-bell"
      aria-label="Bell Icon"
    ></span>
  </button>
  <button
    euiButton
    [euiRounded]="true"
    [euiIconButton]="true"
    [euiOutline]="true"
    class="eui-u-mr-s eui-u-mb-s"
    [euiSecondary]="true"
  >
    <span
      euiIcon
      iconClass="eui-icon eui-icon-bell"
      aria-label="Bell Icon"
    ></span>
  </button>
  <button
    euiButton
    [euiRounded]="true"
    [euiIconButton]="true"
    [euiOutline]="true"
    class="eui-u-mr-s eui-u-mb-s"
    [euiInfo]="true"
  >
    <span
      euiIcon
      iconClass="eui-icon eui-icon-bell"
      aria-label="Bell Icon"
    ></span>
  </button>
  <button
    euiButton
    [euiRounded]="true"
    [euiIconButton]="true"
    [euiOutline]="true"
    class="eui-u-mr-s eui-u-mb-s"
    [euiSuccess]="true"
  >
    <span
      euiIcon
      iconClass="eui-icon eui-icon-bell"
      aria-label="Bell Icon"
    ></span>
  </button>
  <button
    euiButton
    [euiRounded]="true"
    [euiIconButton]="true"
    [euiOutline]="true"
    class="eui-u-mr-s eui-u-mb-s"
    [euiWarning]="true"
  >
    <span
      euiIcon
      iconClass="eui-icon eui-icon-bell"
      aria-label="Bell Icon"
    ></span>
  </button>
  <button
    euiButton
    [euiRounded]="true"
    [euiIconButton]="true"
    [euiOutline]="true"
    class="eui-u-mr-s eui-u-mb-s"
    [euiDanger]="true"
  >
    <span
      euiIcon
      iconClass="eui-icon eui-icon-bell"
      aria-label="Bell Icon"
    ></span>
  </button>
  <button
    euiButton
    [euiRounded]="true"
    [euiIconButton]="true"
    [euiOutline]="true"
    class="eui-u-mr-s eui-u-mb-s"
    [euiAccent]="true"
  >
    <span
      euiIcon
      iconClass="eui-icon eui-icon-bell"
      aria-label="Bell Icon"
    ></span>
  </button>
</div>
<p>
  Block buttons are displayed using the full width of their parent container
  using the <code>euiBlockButton</code> input option.
</p>

<h6 class="section-title eui-u-mt-m">Within the page body container</h6>
<button
  euiButton
  [euiBlockButton]="true"
  class="eui-u-mr-s eui-u-mb-s"
  [euiPrimary]="true"
>
  <span euiLabel>Primary</span>
</button>
<button
  euiButton
  [euiBlockButton]="true"
  class="eui-u-mr-s eui-u-mb-s"
  [euiSecondary]="true"
>
  <span euiLabel>Secondary</span>
</button>

<h6 class="section-title">Within a 50% width responsive container</h6>
<div class="row">
  <div class="col-md-6">
    <button
      euiButton
      [euiBlockButton]="true"
      class="eui-u-mr-s eui-u-mb-s"
      [euiPrimary]="true"
    >
      <span euiLabel>Primary</span>
    </button>
    <button
      euiButton
      [euiBlockButton]="true"
      class="eui-u-mr-s eui-u-mb-s"
      [euiSecondary]="true"
    >
      <span euiLabel>Secondary</span>
    </button>
  </div>
</div>
